{% extends 'base.html' %}

{% load static %}

{% block header %}

{% endblock header %}


{% block base-content %}

<section id="hs_hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 left-col">
                <h1><span class="white">MCQs - CATEGORIES</span></h1>
                <p class="subhead">MCQMLT is a platform where you can prepare for Nepal's demanded courses.</p>

                <a class="contact-btn" href="{% url 'users:register' %}">GET STARTED</a>
            </div>

        </div>
</section>

<section id="category-section">
    <div class="container">
        <div class="row">
            <div class="col-12 level-col text-left left-col">
                <h3><span class="level-orange-span">{{ level.course_name }} (Category) </span></h3>
            </div>
        </div>
        <div class="row">
        </div>

        {% if category %}

        <div class="row row-cols-1 row-cols-md-3 g-4 cards-row" style="padding:0 3% 0 3%;">
            {% for category in category %}
            <div class="col left">
                <div class="card">
                    <img src="{{ category.category_image.url }}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.category_name }}</h5>
                        <p class="card-text">{{ category.category_description|truncatechars:150|safe }}</p>
                        <a href="{% url 'modelsets' category.id %}" class="btn get-started-btn">VIEW MODELSSETS</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}


        <div class="row row-cols-1 row-cols-md-3 g-4 cards-row" style="padding:0 3% 0 3%;">
            <div class="col left">
                <div class="card">
                    <img src="https://www.galaxyeduworld.com/storage/blogs/5eafeeb02e2fb_750_351.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Oops !!</h5>
                        <p class="card-text">No Category Added or You cannot view the category </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</section>




{% endblock base-content %}