{% extends 'base.html' %}

{% load static %}

{% block header %}

{% endblock header %}


{% block base-content %}

<section id="hs_hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 left-col">
                <h1><span class="white">Subjects</span></h1>
                <p class="subhead">Educate yourself with eduMLT.</p>

                <a class="contact-btn" href="{% url 'users:register' %}">GET STARTED</a>
            </div>

        </div>
</section>

<section id="level-section">
    <div class="container">
        <div class="row">
            <div class="col-12 level-col text-left left-col">
                <h3><span class="level-orange-span">Let's Get into the Units - <b> {{ subject.name }} </b></span></h3>
            </div>
        </div>

        {% if read_dict %}
        {% for x,y in read_dict.items %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'chapter' y.id %}" style="color:rgb(0, 0, 0); font-weight: bold;">
                <div class="my-unit-list">
                    <div class="unit-title">
                            {{ y.unit }}
                    </div>
                    <div class="percentage-completed">{{ y.percent }}% Completed</div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    <div class="row row-cols-1 row-cols-md-3 cards-row g-4" style="padding:0 3% 0 3%;">
        <div class="col left">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Oops !!</h5>
                    <p class="card-text">No Units have been added in this subject.</p>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    </div>
</section>



{% endblock base-content %}