{% extends 'base.html' %}

{% load static %}
{% block base-content %}

<section id="login-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 login-page-image-div">
                <div class="image-login">
                    <img class="login-left-logo" src="{% static 'img/login-logo.jpg' %}" alt="Login_Page_Logo">
                </div>
            </div>
            <div class="col">
                <div class="login-fomr">
                    <h2 class="text-center pt-4">Change your password</h2>
                    <p class="text-center">
                        {{ form.non_field_errors }}
                    </p>
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3 mt-4">
                            <label for="exampleFormControlInput1" class="form-label font-weight-bold">
                                Enter your Old Password</label>
                            <span>{{ form.old_password.errors }}</span>
                            <div class="c-input-container">
                                {{ form.old_password }}
                            </div>

                            <a href="{% url 'password_reset' %}">
                                <p class="">Forgot?</p>
                            </a>
                        </div>
                        <div class="c-input">
                            <label for="exampleFormControlInput1" class="form-label font-weight-bold">
                                New Password</label>
                            <span>{{ form.new_password1.errors }}</span>
                            <div class="c-input-container">
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <div class="c-input">
                            <label for="exampleFormControlInput1" class="form-label font-weight-bold">
                                Confirm New Password</label>
                            <span>{{ form.new_password2.errors }}</span>

                            <div class="c-input-container">
                                {{ form.new_password2 }}
                            </div>
                        </div>

                        <div class="mb-3 mt-3">
                            <input class="login-btn-login-page font-weight-bold" type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block script %}
<script>
    const emailField = document.querySelector("#id_old_password");
    const passwordField1 = document.querySelector("#id_new_password1");
    const passwordField2 = document.querySelector("#id_new_password2");

    emailField.classList.add("form-control");
    passwordField1.classList.add("form-control");
    passwordField2.classList.add("form-control");
</script>
{% endblock script %}