{% extends 'base.html' %}

{% load static %}
{% block base-content %}

<section id="login-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 login-page-image-div">
        <div class="image-login">
          <img class="login-left-logo" src="{% static 'img/login-logo.jpg' %}" alt="Login_Page_Logo">
        </div>
      </div>
      <div class="col">
        <div class="login-fomr bg-success">
            <p class="pass-set text-white">
                Your Password has been Changed Successfully!
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block script %}
<script>
  const emailField = document.querySelector("#id_email");
  emailField.classList.add("form-control");   
  emailField.placeholder = "Enter your registered email";
</script>
{% endblock script %}