{% extends 'base.html' %}

{% load static %}
{% block base-content %}

<section id="login-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 login-page-image-div">
        <div class="image-login">
          <img class="login-left-logo" src="{% static 'img/login-logo.jpg' %}" alt="Login_Page_Logo">
        </div>
      </div>
      <div class="col">
        <div class="login-fomr">
          <h2 class="text-center pt-4">Forgot your password?</h2>
          <p class="text-center">
            {{ form.non_field_errors }}
          </p>
          <div>
              <p> Don’t worry, you’re not the first one. Enter your registered email below
                to reset your password.</p>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="exampleFormControlInput1" class="form-label font-weight-bold">Email</label>
              <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
              {{ form.email }}
            </div>
            <div class="mb-3 mt-5">
              <input class="login-btn-login-page font-weight-bold" type="submit" value="Send Me A Recovery Link">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block script %}
<script>
  const emailField = document.querySelector("#id_email");
  emailField.classList.add("form-control");   
  emailField.placeholder = "Enter your registered email";
</script>
{% endblock script %}